In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import uncertainties as unc
import uncertainties.unumpy as unp

# Experimento 1

In [14]:
datos1 = pd.DataFrame(columns=['frec', 'vi', 'vo', 'dt', 'errvo'])

In [19]:

# Función para agregar datos al DataFrame
def nuevo_dato(dataframe, datos):
    nuevo_df = pd.DataFrame([datos], columns=dataframe.columns)
    return pd.concat([dataframe, nuevo_df], ignore_index=True)

# Función para borrar datos del DataFrame
def borrar_dato(dataframe, indice):

    return dataframe.drop(index=indice).reset_index(drop=True)

## Agregando datos

In [32]:
# Columnas del dataframe:   'frec', 'vi', 'vo', 'dt', 'errvo'
datos1 = nuevo_dato(datos1, [0.0, 0.0, 0.0, 0.00, 0.00])
datos1 = nuevo_dato(datos1, [0.0, 0.0, 0.0, 0.00, 0.00])
datos1 = nuevo_dato(datos1, [0.0, 0.0, 0.0, 0.00, 0.00])
datos1 = nuevo_dato(datos1, [0.0, 0.0, 0.0, 0.00, 0.00])
datos1 = nuevo_dato(datos1, [0.0, 0.0, 0.0, 0.00, 0.00])
datos1 = nuevo_dato(datos1, [0.0, 0.0, 0.0, 0.00, 0.00])
datos1 = nuevo_dato(datos1, [0.0, 0.0, 0.0, 0.00, 0.00])

In [ ]:
# Borrar todos los datos del dataframe (por si es necesario para reiniciar)
#datos1 = datos1.iloc[0:0]

In [33]:
datos1

   frec   vi   vo   dt  errvo
0   0.0  0.0  0.0  0.0    0.0
1   0.0  0.0  0.0  0.0    0.0
2   0.0  0.0  0.0  0.0    0.0
3   0.0  0.0  0.0  0.0    0.0
4   0.0  0.0  0.0  0.0    0.0
5   0.0  0.0  0.0  0.0    0.0
6   0.0  0.0  0.0  0.0    0.0

## Defino nuevas columnas

In [34]:
def calc_err(Vi, Vo, Vi_err, Vo_err):
  return np.sqrt((Vo_err/Vi)**2 + (Vi_err*Vo/(Vi)**2)**2)

In [37]:
datos1['vo/vi'] = datos1['vo'] / datos1['vi']
datos1['errvi'] = datos1['vi'] * 0.05
datos1['err_vo/vi'] = calc_err(datos1['vi'], datos1['vo'], datos1['errvi'], datos1['errvo'])
datos1['fase'] = 2*np.pi*datos1['frec']*datos1['dt']

In [38]:
datos1

   frec   vi   vo   dt  errvo  vo/vi  errvi  err_vo/vi  fase
0   0.0  0.0  0.0  0.0    0.0    NaN    0.0        NaN   0.0
1   0.0  0.0  0.0  0.0    0.0    NaN    0.0        NaN   0.0
2   0.0  0.0  0.0  0.0    0.0    NaN    0.0        NaN   0.0
3   0.0  0.0  0.0  0.0    0.0    NaN    0.0        NaN   0.0
4   0.0  0.0  0.0  0.0    0.0    NaN    0.0        NaN   0.0
5   0.0  0.0  0.0  0.0    0.0    NaN    0.0        NaN   0.0
6   0.0  0.0  0.0  0.0    0.0    NaN    0.0        NaN   0.0

## Ploteo

In [ ]:
x = datos1['frec']
y = datos1['vo/vi']
xerr = datos1['frec'] * 0.05
yerr = datos1['err_vo/vi']

x2 = datos1['frec']
y2 = datos1['fase']
xerr2 = datos1['frec'] * 0.05
yerr2 = datos1['fase'] * 0.05